/*--------Table of Contents--------

1. Foundation Simple Styles
2. SmartMenus
3. UWT Styles
-----------------------------------*/ 

/* 1. Foundation Styles
====================================================================
 Foundation styles are created to make our site look "nice"
 in older versions of IE.
--------------------------------------------------------------------
 April, 18 2014 - Harrison Created styles
-------------------------------------------------------------------- 
*/

/* Make sure off canvas is hidden */
.left-off-canvas-menu{
	width: 0\0/;	
}
/* Following classes are toggled with js as default CSS3 are not good with this browser */
.left-off-canvas-toggle-IE{width:250px;}
.left-off-canvas-toggle-inner-IE{margin-left:250px;}

/* Tell IE about our small- classes */
#header .small-4, #utility .small-4{
	width: 40%
}
#header .small-8, #utility .small-8{
	width: 60%;
}
#header .small-12{
	width: 100%;
}
#header .large-3{
	width: 30%;
}
#header .large-9{
	width: 70%;
}
#landingcontent .large-3{
	width: 25%;
}
#landingcontent .large-9{
	width: 75%
}
#contentbuckets .large-4{
	width: 33.33%;
}
@media (max-width: 640px){
	#contentbuckets .large-4{
		width: 100%!important;
	}
}

/* ie-foundation-fix is added on window resize event with javascript */
.ie-foundation-fix #header .small-12.large-3{
	width: 100%;
}
.ie-foundation-fix #smallmenu .small-2{
	width: 10%;
}
.ie-foundation-fix #smallmenu .small-5{
	width: 30%;
}
.ie-foundation-fix #landingcontent .small-12.large-3{
	width: 100%;
}
.ie-foundation-fix #landingcontent .small-12.large-9{
	width: 100%;
}
/* Orbit */
.orbit-caption{
	display: none;
}


/* 2. SmartMenus
====================================================================
*/

/* Hide iFrame created by the plugin */
.sm-simple iframe{display: none;}

/* 3. UWT Sytles
====================================================================
*/

.smallsearchcontainer{
	height:30px;
}
/* IE8 won't display our rem's */
#nav .sm-simple a {
	padding: 5px 5px;
}
